[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
xarray = "*"
matplotlib = "*"
rioxarray = "*"
rasterio = "*"
stackstac = "*"
pystac-client = "*"
planetary-computer = "*"
odc-stac = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
